.card {
  margin: 5px 0px;
  border: 1px solid #bce8f1;
}

.card-title {
  margin-bottom: 0px;
}

.card-header {
  padding: 3px 15px;
  color: #31708f;
  background-color: #d9edf7;
  background-image: linear-gradient(180deg, #d9edf7 0, #c4e3f3);
  background-repeat: repeat-x;
}

.card-body {
  padding: 3px 15px;
  height: 35px;
}

.card-body > .row {
  height: 100%;
  align-items: center;
}
