.action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0px;
}

.action-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.expand-info-txt {
  cursor: not-allowed;
  width: 100px;
}

.expand-btn-grp > button {
  margin-bottom: 5px;
}
