.action-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
}

.expand-info-txt {
  width: 100px;
}

.expand-btn-grp > :first-child {
  margin-bottom: 5px;
}
