#parent-action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 52px 0px 136px 0px;
}

.parent-tree-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

/* Bootstrap buttons */
.btn-primary,
.btn-primary:disabled {
  background-color: #337ab7;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #265a88;
}

.btn-light,
.btn-light:hover {
  border: 1px solid #ccc;
}
/*  */

/* Layout */
.left,
.right {
  padding: 0px;
}

.left > * {
  margin-right: 5px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right > * {
  margin-left: 5px;
}
/*  */

.modal-title {
  display: flex;
}

.modal-footer {
  padding: 15px 16px;
  justify-content: flex-start;
}

.well {
  flex: 15 15 500px;
  border: solid;
  border-radius: 5px;
  padding: 10px;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 991px) {
  #parent-action-container {
    height: auto;
  }

  .action-btn-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }

  .action-btn {
    width: 30%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1568px) {
  .action-container .btn {
    padding: 6px;
    font-size: 0.8em;
  }

  .expand-info-btn {
    width: 75px !important;
  }

  #options-container .options-label {
    font-size: 0.8rem;
  }
}
