#parent-action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 52px 0px 136px 0px;
}

.parent-tree-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

/* Layout */
.left,
.right {
  padding: 0px;
}

.left > * {
  margin-right: 5px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right > * {
  margin-left: 5px;
}
/*  */

.modal-title {
  display: flex;
}

.modal-footer {
  padding: 15px 16px;
  justify-content: flex-start;
}

@media only screen and (max-width: 1568px) {
  .action-container .btn {
    padding: 6px;
    font-size: 0.8em;
  }

  .expand-info-btn {
    width: 75px !important;
  }

  #options-container .options-label {
    font-size: 0.8rem;
  }
}
