.rst__rowContents {
  padding-right: 0px;
}

.active-node {
  box-shadow: 0 0 0 4px yellow;
}

.mapped {
  color: blue;
}

.un-mapped {
  color: red;
}

.well {
  border: solid;
  min-height: 65vh;
  max-height: 75vh;
  margin-bottom: 15px;
}

