.rst__rowContents {
  padding-right: 0 !important;
}

.active-node {
  box-shadow: 0 0 0 4px yellow;
}

.mapped {
  color: blue;
}

.un-mapped {
  color: red;
}

.well {
  border: solid;
  height: 70vh;
}

#edit-tree-container {
  padding: 10px 15px;
}

@media only screen and (min-height: 1150px) {
  .well {
    height: 78vh;
  }
}
