.rst__rowContents {
  padding-right: 0 !important;
}

.active-node {
  box-shadow: 0 0 0 4px yellow;
}

.mapped {
  color: blue;
}

.un-mapped {
  color: red;
}

#edit-tree-container {
  padding: 10px 15px;
}
