.pretty-print {
  white-space: pre-wrap;
}

#export-modal-body {
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#export-btn {
  padding: 4px 8px;
  line-height: 15px;
}

.btn-outline-dark:disabled {
  cursor: not-allowed;
}
