.pretty-print {
  white-space: pre-wrap;
}

#export-modal-body {
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#export-btn {
  position: relative;
  bottom: 4px;
  line-height: 12px;
}
