mark {
  background-color: yellow;
  color: black;
}

.active-node {
  border: solid;
}

.mapped {
  color: blue;
}

.missing-map {
  color: red;
}

.well {
  border: solid;
  height: 65vh;
  overflow: hidden;
}
